{% extends 'basic.html' %}


{% block title %}Login{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p class="text">You are already signed in</p>
    {% else %}
        {% if form.errors %}
            <p class="text text-danger">Your username or password didn't match. Please try again.</p>
        {% endif %}
        <form class="{% if form.errors %}border border-danger{% endif %}" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                <tr>
                  <td>{{ form.username.label_tag }}</td>
                  <td>{{ form.username }}</td>
                </tr>
                <tr>
                  <td>{{ form.password.label_tag }}</td>
                  <td>{{ form.password }}</td>
                </tr>
            </table>
            <input class="btn btn-lg" type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <p class="text-info"><a href="{% url 'register' %}">Registration</a></p>
        <p class="text-info"><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
    {% endif %}
{% endblock %}
